.name{
   margin-bottom: 20px;
    width: 223px;
    margin-left: 400px;
    height: 40px;
   }
   .message{
     margin-left: 400px;
     width: 470px;
     height: 150px;
   }
   .email{
     height: 40px;
     width: 240px;
     margin-left: 0px;
     margin-bottom: 20px;
   }
   .btn{
     margin-left: 200px;
     width: 100px;
     height: 40px;
   }