.bod{
    display: flex;
    height: 110vh;
    background-color: #edede5 ;
    margin: 40px 200px;
    padding: 20px 20vh;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px #0000FF;
    
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    
}
.ctn{
    text-align: end;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }